@model DTO.Usuario

@{
    bool? result = true;
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Confirme su cuenta</h2>

                    @if (ViewBag.StatusMessage == null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.StatusMessage
                        </div>
                    }

                    @if (result == true)
                    {
                        <div class="alert alert-success">
                            @ViewBag.StatusMessage
                        </div>
                        <p class="text-center">Seleccione cómo confirmar la cuenta:</p>
                        @using (Html.BeginForm("SendCode", "User", FormMethod.Post))
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="confirmationType" id="emailConfirmation" value="email" checked>
                                <label class="form-check-label" for="emailConfirmation">
                                    Confirmación por Email
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="confirmationType" id="phoneConfirmation" value="phone">
                                <label class="form-check-label" for="phoneConfirmation">
                                    Confirmación por Teléfono
                                </label>
                            </div>
                            <br>

                            <div class="form-group mt-3">
                                @Html.Label(null, "Email o Teléfono", new { @class = "form-label" })
                                @Html.TextBox("identifier", null, new { @class = "form-control", required = "required" })
                            </div>

                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary">Enviar Confirmación</button>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
