<div class="modal-header">
  <h4 class="modal-title">Actualización de matricula</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #editMatriculaForm="ngForm">
    <div class="form-group">
      <label for="name">ID del estudiante:</label>
      <input type="text" id="id_estudiante" name="id_estudiante" [(ngModel)]="toUpdateMatricula.id_estudiante" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">ID del curso:</label>
      <input type="text" id="id_curso" name="id_curso" [(ngModel)]="toUpdateMatricula.id_curso" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Año academico:</label>
      <input type="text" id="ano_academico" name="ano_academico" [(ngModel)]="toUpdateMatricula.ano_academico" class="form-control" required>
    </div>
    <div class="py-4">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>

