@{
    bool? result = ViewBag.Result;
    string email = ViewBag.Email;
}
<div style="padding-top: 90px; ">
    <div class="row justify-content-center mt-5" style="height: 538px; padding-right: 1500px">
        <div class="col-md-6 col-lg-4">
            <div class="card" style="width: 1300px;   border: 0px solid rgba(0,0,0,1); background-color: #F0EAE5; height: 700px">
                <center>
                    <div class="card-body" style="width: 50%; height: 50%; margin-top:150px">
                        <div class="align-content-center text-center" style="height: 535px;">
                            <h2 style="margin-top: 50px;">Restablecer Contraseña</h2>
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

                            @if (result == null)
                            {
                                <p>Ingrese su correo y recibirá un enlace para restablecer su contraseña.</p>
                                @using (Html.BeginForm("ExecuteForgotPassword", "Login", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @Html.Label(null, "Email", new { @class = "form-label" })
                                        @Html.TextBox("email", null, new { @class = "form-control", required = "required" })
                                    </div>
                                    <br>

                                    <button type="submit" class="btn btn-primary">Enviar Enlace</button>
                                }
                            }
                            else if (!(bool)result)
                            {
                                <script>
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: 'Usuario No Existe',
                                        confirmButtonText: 'Aceptar'
                                    });
                                </script>

                                <div class="text-center">
                                    <a onclick="location.href='@Url.Action("ForgotPassword", "Login")'" class="btn btn-link">Reintentar</a>
                                </div>
                            }
                            else
                            {
                                <script>
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Éxito',
                                        text: 'Enlace enviado para restablecer contraseña a @Html.Raw(email)',
                                        confirmButtonText: 'Aceptar'
                                    });
                                </script>

                                <p>Revise su correo y haga click en el enlace para restablecer.</p>
                            }
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
