.title {
    text-align: center;
    margin: 20px;
}

.qrs-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 20px;
}
