<div class="form-container py-4 border-bottom">
  <h2 class="sub-title">Agregar estudiante</h2>
  <form class="row align-items-end" (ngSubmit)="onSubmit()" #estudianteForm="ngForm">
    <div class="col-3">
      <label class="form-label input-title" for="cedula">Cedula:</label>
      <input type="text" class="form-control" id="cedula" name="cedula" [(ngModel)]="estudiante.cedula" required>
    </div>
    <div class="col-3">
      <label class="form-label input-title" for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="estudiante.nombre" required>
    </div>
    <div class="col-3">
      <label class="form-label input-title" for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="estudiante.apellido" required>
    </div>
    <div class="col-3">
      <label class="form-label input-title" for="correo_electronico">Correo:</label>
      <input type="text" class="form-control" id="correo_electronico" name="correo_electronico" [(ngModel)]="estudiante.correo_electronico" required>
    </div>
    <div class="col-3">
      <label class="form-label input-title" for="contrasena">contrasena:</label>
      <input type="text" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="estudiante.contrasena" required>
    </div>
    <div class="col-3">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
  </form>
</div>

