@model DTO.Usuario
@{
    ViewBag.Title = "Reporte del rendimiento";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}
@section Scripts{
    <script src="~/js/Utilities/pdfmake.js"></script>
    <script src="~/js/Utilities/vfs_fonts.js"></script>
    <script src="~/js/Utilities/PdfGenerator.js"></script>
    <script src="~/js/Reportes/Gestor/ReporteRendimientoPersonal.js"></script>
}
<style>
    .ag-header {
        background-color: #4FC9DA;
    }
</style>
<!--FORM INIT-->
<div class="container text-center">
    <div class="container text-center">
    <h1 class="display-4">Rendimiento personal</h1>
    <br />
    <!--AG GRID-->
    <center>
            <div id="myGrid" data-userid="@Model.Id" style="height: 650px; width:1500px" class="ag-theme-alpine"></div>
    </center>
    </div>

    <div style="margin-top: 40px; margin-left: 21px;" class="container">
        <button class="btn btn-primary" id="btn-report" style="width: 100%;">Descargar reporte</button>
    </div>

</div>
