@using static WebApp.Helpers.ControlExtensions
@{
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}
@section Scripts{
    <script src="~/js/ControlActions.js"></script>
    <script src="~/js/Index.js"></script>
    <link rel="stylesheet" href="~/css/Admin/Index.css" asp-append-version="true" />
}

<div style="height: 750px;">
    <div class="container mt-5">
        <center>
            <h1>Bienvenido Administrador</h1>
        </center>
        <br />
        <div class="container-body-btns">
            <div class="btn-container">
                <!--
                <a class="btn btn-primary" asp-area="" asp-controller="" asp-action="">Editar Perfil</a>
                <a class="btn btn-primary" asp-area="" asp-controller="" asp-action="">Cambiar contraseña</a>
                -->
                <a class="btn btn-primary text-center" style="height: 70px;" asp-area="" asp-controller="Admin" asp-action="UserList">Usuarios</a>
                <a class="btn btn-primary text-center" style="height: 70px;" asp-area="" asp-controller="Dashboard" asp-action="AdminDashboard">Dashboard</a>
            </div>
            <div class="btn-container">
                <div class="btn-container">
                    <a class="btn btn-primary text-center" style="height: 70px;" asp-area="" asp-controller="Reportes" asp-action="ReporteGanancias">Reportes de Gestor</a>
                    <a class="btn btn-primary text-center" style="height: 70px;" asp-area="" asp-controller="Admin" asp-action="Finances">Finanzas</a>
            </div>
        </div>
    </div>
</div>
</div>
