<div class="modal-header">
  <h4 class="modal-title">Actualización de curso</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #editCursoForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="nombre_curso" name="nombre_curso" [(ngModel)]="toUpdateCurso.nombre_curso" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Descripcion:</label>
      <input type="text" id="descripcion" name="descripcion" [(ngModel)]="toUpdateCurso.descripcion" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Creditos:</label>
      <input type="text" id="creditos" name="creditos" [(ngModel)]="toUpdateCurso.creditos" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Profesor:</label>
      <input type="text" id="profesor" name="profesor" [(ngModel)]="toUpdateCurso.profesor" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Hora de inicio:</label>
      <input type="text" id="hora_inicio" name="hora_inicio" [(ngModel)]="toUpdateCurso.hora_inicio" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Hora de fin:</label>
      <input type="text" id="hora_fin" name="hora_fin" [(ngModel)]="toUpdateCurso.hora_fin" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Dias a la semana:</label>
      <input type="text" id="dias_semana" name="dias_semana" [(ngModel)]="toUpdateCurso.dias_semana" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="company">Modalidad:</label>
      <input type="text" id="modalidad" name="modalidad" [(ngModel)]="toUpdateCurso.modalidad" class="form-control" required>
    </div>
    <div class="py-4">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>

