@model string // Define el modelo de la vista como un string que será el contenido dinámico

<!--Plantilla para envío de correos al comprar un evento y recibir los boletos-->
<html>
<head>
    <title>Correo de Confirmación</title>
</head>
<body>
    <p>PLANTILLA para Bray</p>

    <h1>Hemos recibido tu pedido</h1>
    <p>Acá te proporcionamos tus boletos:</p>
</body>
</html>
