@{
    ViewBag.Title = "Mis eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src = "~/js/pages/Events/GridMyEvents.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Mis eventos</h1>
    <div class="search-container" style="display: flex;">
        <input id="txtSearch" type="text" class="form-control" placeholder="Busca por evento" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="margin-left: 10px">Buscar</button>
    </div>
    <br />

    <div id="myGrid" style="height: 500px; width:100%;" class="ag-theme-alpine"></div>
</div>
